 
  .navbar {
    /* display: flex; */
    flex-direction: column;
    padding: 0.5rem 0;
    overflow: hidden;
}
.navbar h1 {
   font-size: 1.5rem;
}
.navbar {
    font-size: 0.8rem;
}

.main img {
    width: 70%;
  }

.journey .items {
    flex-direction: column;
}

.journey h2 {
    padding: 0.2rem 0;
}

.journey .items .item{
    width: 100%;
    padding: 0.5rem;
    border-bottom: 0.3px solid gray;
    font-size: 0.8rem;
}

.journey .items .item i{
    padding: 0.7rem;
}

.journey .items .item image{
    width: 50%;;
}

.item h3 {
    font-size: 1rem;
    padding: 0;
}



.educations-container .educations .education{
    flex-direction: column;
  }

  
.educations-container {
    text-align: justify;
  }
  

  .educations-container .educations .education .image img{
    width: 300px;
    height: 120px;
}

.educations-container .educations .education .image{
    margin-right: 0;
  }

  .educations-container .educations .education .container-title .title{
    font-weight: 700;
    text-align: center;
    margin: 0.45rem 0;
    letter-spacing: 1px;
   
   }
   
   .educations-container .educations .education .container-title .desc{
     font-size: 0.8rem;
    }
    
    .educations-container .educations .education .container-title .author{
       font-size: 0.8rem;
       font-weight: 600;
    }

    /* FOOTER */

  
  .footer .footer-container .input-container{
    padding: 0 1rem;
  }